.TopBuyer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    padding-top: 30px;
}

.topBuyer-header {
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 2rem;
    justify-content: space-between;
    color: black;
    font-style: italic;
}

.topBuyer-header>:nth-child(3){
    background-color: var(--whiteColor);
    border-radius: 50px;
    width: 6%;
    padding: 4px 8px;
    color: var(--darkGrey);
    font-size: 18px !important;
    text-decoration: underline;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.topBuyer-categories {
    
}

.topBuyer-category {
    display: flex;
    background-color: #ffffff;
    padding: 0.4rem;
    border: 1px solid gray;
    border-radius: 13px;
    margin-top: 10px;
}

.topBuyer-n {
    display: grid;
    font-size: 1rem;
    font-weight: 500;
    color: var(--darkGrey);
    margin-left: 15px;
}

.topBuyer-n>span:nth-child(1) {
    font-size: 1rem;
    font-weight: 700;
    color: var(--darkGrey);
    text-transform: uppercase;
}

.topBuyer-n>span:nth-child(2) {
    font-size: 0.8rem;
    color: var(--gray);
}