.Bids {
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
}

.bid_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bid_title {
    font-size: 35px;
    font-weight: 700;
    color:  #2F2F2F;
}

.bid-name {
    font-size: 10px;
    color: #000000;
}

