:root {
    --whiteColor: #ffffff;
    --gray: #9c9c9c;
    --lightgray: #D9D9D9;
    --orange: #f48915;
    --darkGrey: #464D53;
    --caloryCard: #656565;
    
}

.App {
    background-color: #f8f8f8;
}

.App .featured {
   display: flex;
   width: 100%;
   height: 100vh;
   
}

